@charset "UTF-8";

.gird-item.PENDING {
  border-left: 10px solid #5bc0de;
}

.gird-item.HANDLING {
  border-left: 10px solid #f0ad4e;
}

.gird-item.APPROVED {
  border-left: 10px solid #5cb85c;
}

.gird-item.REJECT {
  border-left: 10px solid #d9534f;
}